/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.main-title {
    text-align: center;
    padding : 20px;
    background: $darkblue;
    color: white;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 270px;
    
    @media #{$small-med}{
        max-width: 480px;
    }
    @media #{$medium} {
        max-width: 640px;
    }

    @media #{$large} {
        max-width: 945px;
    }
}
// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //