/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.main-content {
    width: 100%;
    float: right;
    background: gainsboro;
    margin-top: 50px;
    @media #{$large} {
        width: 85%;
        margin-top: 0;
    }
}

.main-content article {
    width: 100%;
    float: right;
    padding-top: 15px;
    @media #{$large}{
        width: inherit;
    }
}

.nav__footer {
    display: none;
    @media #{$large}{
        display: block;
    }
}

.copyright {
    display: block;
    padding: 12px 0 0 12px;
    font-size: 12px;
    font-weight: bold;
    color: $black70;
}
// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //