.header {
	text-align: center;
	background: whitesmoke;
	padding: 10px;
	position: relative;
	top: 0;
	bottom : 0;
}
.hor-nav {
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	background: black;
	text-align: center;
}
.hor-nav ul{
	padding: 0;
}

.menu li {
	list-style: none;
	color: white;
}

.menu {
	background: black;
	color: white;
}

.menu-list { 
	display: inline-block;
	position: relative;
	width: 200px;
}

.hor-nav .menu-list a{ 
	display: block;
	text-decoration: none;
	color: white;
	padding: 30px;
	text-align: center;
}

.hor-nav .menu-list a:hover{ 
	background: red;
}

.submenu {
	top: 100%;
	position: absolute;
	display: none;
	background: maroon;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.submenu-list{
	position: relative;
}

.submenu-list a{
	display: inline-block;
	width: inherit;
}

.hor-nav .submenu-list > a:hover{
	color: maroon;
	background: pink;
}

.submenu .submenu {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	background: red;
}

.submenu-list .submenu-list {
}

.hor-nav .menu-list:hover > .submenu {
	display: block;
}

.hor-nav .submenu-list:hover > .submenu{
	display: inline-block;
}

.ver-nav {
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	width: 200px;
	height: 100%;
	background: black;
}

.ver-nav .menu-list {
	display: inline-block;
	position: relative;
	width: 100%;
}

.ver-nav .submenu{
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 0px;
}

.ver-nav .menu-list:hover > .submenu , .ver-nav .submenu-list:hover > .submenu {
	display: inline-block;
}

.ver-main{
	position: relative;
	width: 80%;
	float: right;
	padding: 30px;
}

.ver-nav .submenu-list > a:hover{
	color: maroon;
	background: white;
}

.ver-nav .menu-list a{ 
	display: block;
	text-decoration: none;
	color: white;
	padding: 20px;
}

.breadcumb {
	text-align: left;
	padding:20px;
	background: #eee;
}

.breadcumb-list {
	list-style: none;
	display: inline-block;
	position: relative;
	font-size: 18px;
}

.bc-active {
	padding: 15px;
}

.bc-first {
}

.breadcumb-item {
	text-decoration: none;
}

.breadcumb-item:after {
	content: ' > ';
}

.breadcumb-box .breadcumb-item {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	background: #eee;
	padding: 15px 30px;
	margin-left: -5px;
}

.breadcumb-box .breadcumb-item:after {
	content: '';
}

.arrow {
	float: right;
	position: absolute;
	left: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent transparent red;
	z-index: 1;
}