body{
	margin: 0;
}

.header {
	text-align: center;
	background: whitesmoke;
	padding: 10px;
}
.hor-nav {
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	background: black;
}
.hor-nav ul{
	padding: 0;
}

.menu li {
	list-style: none;
	color: white;
}

.menu {
	background: black;
	color: white;
}

.menu-list { 
	display: inline-block;
	position: relative;
	width: 200px;
}

.hor-nav .menu-list a{ 
	display: block;
	text-decoration: none;
	color: white;
	padding: 30px;
}

.submenu {
	top: 100%;
	position: absolute;
	display: none;
	background: maroon;
	width: 150px;
	z-index: 1;
}

.submenu .submenu {
	top: 0;
}

.submenu-list{
	width: 150px;
	position: relative;
}

.submenu-list a{
	padding: 20px;
	display: inline-block;
	width: 110px;
}

.hor-nav .submenu-list > a:hover{
	color: maroon;
	background: white;
}

.submenu .submenu {
	left: 100%;
	width: 100%;
	background: red;
}

.submenu-list .submenu-list {
}

.hor-nav .menu-list:hover > .submenu {
	display: block;
}

.hor-nav .submenu-list:hover > .submenu{
	display: inline-block;
}

.ver-nav {
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	width: 200px;
	height: 100%;
	background: black;
}

.ver-nav .menu-list {
	display: inline-block;
	position: relative;
	width: 100%;
}

.ver-nav .submenu{
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 0px;
}

.ver-nav .menu-list:hover > .submenu , .ver-nav .submenu-list:hover > .submenu {
	display: inline-block;
}

.ver-main{
	position: relative;
	width: 80%;
	float: right;
	padding: 30px;
}

.ver-nav .submenu-list > a:hover{
	color: maroon;
	background: white;
}

.ver-nav .menu-list a{ 
	display: block;
	text-decoration: none;
	color: white;
	padding: 20px;
}