.accordion {
	background: whitesmoke;
	padding: 15px;
}

.accordion__content {
	display: none;
	padding: 20px;
}

.accordion__header {
	padding: 7px 0;
}

.accordion__title {
	display: inline-block;
	margin: 0;
}

.accordion__trigger {
	display: inline-block;
	float: right;
	margin-top: -3px;
}