/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.signup{
    margin : 20px;
}

.double-line {
    display: inline;
    &:before, &:after {
        display: inline-block;
        content: '';
        width: 100%;
        height: 10px;
        border-top: 2px solid $black60;
        border-bottom: 2px solid $black60;
        vertical-align: middle;
    }

    @media #{$medium} {
        &:before, &:after {
        width: 25%;
        }
    }

    @media #{$large} {
        &:before, &:after {
        width: 35%;
        }
    }
}

.text-padding {
    padding: 0 5%;
}

.btn--blue {
    background: $flatblue;
    color: white;
    border: 1px solid black;
    font-size: 18px;
}

.user-info {
    margin-bottom: 220px;
}

.btn--bold {
    font-weight: 600;
}

.news {
    padding: 20px 40px;
}
.news div {
    padding-left: 0;
}

.radio-blue {
    height: 15px;
    width: 15px;
    color: blue;
}

.button-margin {
    margin-left: 0;
    margin-top: 20px;

    
    @media #{$medium} {
        margin-left: 33.3333%;
        }
    }

.add-padding {
    margin-bottom: 10px;
}

.news .form-label {
    display: block;
    width: 90%;
    margin-top: $space/3;
        &:after {
        content: ' :';
        float: none;
        position: relative;
        text-align: left;
        }
    @media #{$medium} {
        &:after {
        content: ' :';
        float: right;
        position: relative;
        text-align: right;
        }
    }
}

.news .form-label.opt {
    display: inline-block;
    width: auto;
    margin-top: $space/3;
        &:after {
        content: '';
    }
}

.opt {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio] {
    display: none;
}

.opt:before {
    content: "";
    display: inline-block;
 
    width: 25px;
    height: 25px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: white;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 20px;
    border: 1px solid $black60;
}

.radio .opt:before {
    border-radius: 8px;
}

input[type=radio]:checked + .opt:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
    padding: 3px 0;
    background-color: $flatblue;
}
// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //