.box-list {
	background: $flatblue;
	width: 100%;
	height: auto;
	color: white;
	padding-bottom: 20px;
	margin: 0 auto;
}

.box-list img{
	width: 100%;
}

.box-title {
	margin-bottom: 0;
}

.box-desc {
	margin: 0 10px;
}

.box-arrow:after {
	display: inline-block;
	content: '';
	width: 0;
	border: red solid 30px;
	border-color: $flatblue transparent transparent transparent;
	
	@media #{$medium}
	{
		display: none;
	}
}