.box-list {
	background: $flatblue;
	float: left;
	width: 240px;
	height: 370px;
	margin: 10px 20px;
	color: white;
	margin-bottom: 30px;
		
	&:after{
		display: block;
		content: '';
		width: 0px;
		border: $flatblue solid 20px;
		border-color: $flatblue transparent transparent transparent;
		margin: 0 auto;
		margin-top: 15px;
	}
	
	@media #{$small-med} {
    	width: 200px;
		height: 390px;

    	&:after{
		display: none;
		}

    }

	@media #{$medium} {
    	width: 275px;
		height: 400px;
    }
}

.box-title {
	margin-bottom: 0;
}

.box-desc {
	margin: 0 10px;
}